@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --white: #ffffff;
  --dark-blue: #070724;
  --grey-900: #38384f;
  --grey-500: #838391;
  --grey-500-light: #83839180;
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6f2ed6;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec2a4;
  --neptune: #2d68f0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

body {
  background-color: var(--dark-blue);
  background-image: url("/background-stars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
  overflow: hidden;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--white);
}

/* h2 {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  line-height: 52px;
  letter-spacing: -1.5px;
} */

/* h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 0.75rem;
  line-height: 25px;
  letter-spacing: 2.6px;
} */

/* h4 {
  font-family: "League Spartan", sans-serif;
  font-size: 0.6875rem;
  line-height: 25px;
  letter-spacing: 1px;
} */

p {
  font-family: "League Spartan", sans-serif;
  font-size: 0.6875rem;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
/* @media screen and (min-width: 1440px) { */
@media screen and (min-width: 1220px) {
  h1 {
    font-size: 5rem;
    line-height: 103px;
  }

  p {
    font-size: 0.875rem;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

/* Header */
header {
  padding: 1rem 1.5rem;
  color: var(--white);
  border-bottom: 1px solid hsla(240, 6%, 54%, 0.5);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container h2 {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  letter-spacing: -1.5px;
  font-size: 1.75rem;
  font-weight: 500;
}

.nav-menu-hamburger {
  display: block;
  background-color: var(--dark-blue);
  width: 24px;
  height: 17px;
  z-index: 10;
}

.nav-links-container {
  display: none;
}

.nav-links-container.open {
  position: absolute;
  z-index: 30;
  height: 90vh;
  width: 100vw;
  top: 70px;
  left: 0;
  display: block;
}

.nav-links-container.open nav {
  height: 100%;
}

.nav-links-container.open .nav-links {
  background-color: var(--dark-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.nav-links-container.open .nav-links a {
  color: var(--white);
  font-size: 1.25rem;
  padding: 1.5rem 0rem;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-links-container.open .nav-links a .circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 1rem;
}
.nav-links-container.open .nav-links a .circle.mercury {
  background-color: var(--mercury);
}
.nav-links-container.open .nav-links a .circle.venus {
  background-color: var(--venus);
}
.nav-links-container.open .nav-links a .circle.earth {
  background-color: var(--earth);
}
.nav-links-container.open .nav-links a .circle.mars {
  background-color: var(--mars);
}
.nav-links-container.open .nav-links a .circle.jupiter {
  background-color: var(--jupiter);
}
.nav-links-container.open .nav-links a .circle.saturn {
  background-color: var(--saturn);
}
.nav-links-container.open .nav-links a .circle.uranus {
  background-color: var(--uranus);
}
.nav-links-container.open .nav-links a .circle.neptune {
  background-color: var(--neptune);
}

.chevron {
  margin-left: auto;
  height: 8px;
}

.nav-links-container.open .nav-links a:not(:last-of-type) {
  border-bottom: 1px solid var(--grey-500-light);
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey-900);
  font-family: "League Spartan", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 2.6px;
  font-weight: 700;
}
.nav-links a.active-link {
  color: var(--white);
}

/* Body */
.main-wrapper {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(240, 6%, 54%, 0.5);
}

.buttons-container button {
  color: var(--grey-500);
  text-transform: uppercase;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  position: relative;
}

.buttons-container button span {
  color: var(--grey-500);
}

.active-tab.mercury::after,
.active-tab.venus::after,
.active-tab.earth::after,
.active-tab.mars::after,
.active-tab.jupiter::after,
.active-tab.saturn::after,
.active-tab.uranus::after,
.active-tab.neptune::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(20px);
}

.active-tab.mercury::after {
  background-color: var(--mercury);
}
.active-tab.venus::after {
  background-color: var(--venus);
}
.active-tab.earth::after {
  background-color: var(--earth);
}
.active-tab.mars::after {
  background-color: var(--mars);
}
.active-tab.jupiter::after {
  background-color: var(--jupiter);
}
.active-tab.saturn::after {
  background-color: var(--saturn);
}
.active-tab.uranus::after {
  background-color: var(--uranus);
}
.active-tab.neptune::after {
  background-color: var(--neptune);
}

.active-tab.mercury:active,
.active-tab.venus:active,
.active-tab.earth:active,
.active-tab.mars:active,
.active-tab.jupiter:active,
.active-tab.saturn:active,
.active-tab.uranus:active,
.active-tab.neptune:active {
  color: var(--white);
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 6.5rem 4.5rem;
  position: relative;
}

.image-container img {
  width: 111px;
}

.image-container.geology img:first-of-type {
  width: 111px;
}

.image-container.geology img:last-of-type {
  position: absolute;
  width: 62px;
  top: 180px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  gap: 1rem;
  text-align: center;
}

.text-container .info {
  color: var(--white);
  line-height: 22px;
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
}

.text-container .source {
  margin-top: 1rem;
  font-family: "League Spartan", sans-serif;
  display: flex;
  align-items: center;
}

.text-container .source span {
  color: var(--grey-900);
}

.text-container .source a {
  margin-left: 5px;
  color: var(--grey-500);
  font-weight: 700;
}
.text-container .source a:visited {
  color: var(--grey-500);
}

.text-container .source img {
  margin-left: 5px;
  width: 12px;
  height: 12px;
}

/* Info */
.info-section {
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem 3rem;
  gap: 0.5rem;
}

.info-container {
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--grey-500);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container p {
  text-transform: uppercase;
  color: var(--grey-500);
  font-weight: 700;
}

.info-container h3 {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  /* Header */
  header {
    padding: 2rem 3.25rem 2.25rem;
  }

  .header-container {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    gap: 2.5rem;
  }

  .header-container button {
    display: none;
  }

  .nav-links-container {
    display: flex;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 1.75rem;
  }

  .nav-links-container.open .nav-links a span {
    display: none;
  }

  .nav-links a:hover,
  .nav-links a.active-link {
    color: var(--white);
    position: relative;
  }

  .nav-links a.active-link::before {
    content: "";
    background-color: var(--mercury);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(45px);
  }

  .nav-links a.mercury:hover::before,
  .nav-links a.active-link.mercury::before {
    background-color: var(--mercury);
  }
  .nav-links a.venus:hover::before,
  .nav-links a.active-link.venus::before {
    background-color: var(--venus);
  }
  .nav-links a.earth:hover::before,
  .nav-links a.active-link.earth::before {
    background-color: var(--earth);
  }
  .nav-links a.mars:hover::before,
  .nav-links a.active-link.mars::before {
    background-color: var(--mars);
  }
  .nav-links a.jupiter:hover::before,
  .nav-links a.active-link.jupiter::before {
    background-color: var(--jupiter);
  }
  .nav-links a.saturn:hover::before,
  .nav-links a.active-link.saturn::before {
    background-color: var(--saturn);
  }
  .nav-links a.uranus:hover::before,
  .nav-links a.active-link.uranus::before {
    background-color: var(--uranus);
  }
  .nav-links a.neptune:hover::before,
  .nav-links a.active-link.neptune::before {
    background-color: var(--neptune);
  }

  /* Body */

  .main-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.8fr 0.8fr 1fr;
  }

  .image-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .text-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 1.125rem 2.125rem;
    gap: 1.125rem;
  }

  .buttons-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    border-bottom: none;
  }

  .image-container img {
    width: 184px;
  }

  .image-container.geology img:first-of-type {
    width: 184px;
  }

  .image-container.geology img:last-of-type {
    width: 103px;
    top: 280px;
  }

  .text-container {
    text-align: start;
    align-items: flex-start;
  }

  .buttons-container {
    flex-direction: column;
    justify-content: space-around;
    padding: 3.5rem 0rem;
  }

  .buttons-container button {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--white);
    border: 1px solid var(--grey-500);
    padding: 0.7rem 1.25rem 0.5rem;
    width: 280px;
    height: 40px;
    gap: 1rem;
    transition: background 0.3s ease-in-out;
  }

  .active-tab.mercury,
  .active-tab.mercury:active {
    background-color: var(--mercury);
  }

  .active-tab.venus,
  .active-tab.venus:active {
    background-color: var(--venus);
  }

  .active-tab.earth,
  .active-tab.earth:active {
    background-color: var(--earth);
  }

  .active-tab.mars,
  .active-tab.mars:active {
    background-color: var(--mars);
  }

  .active-tab.jupiter,
  .active-tab.jupiter:active {
    background-color: var(--jupiter);
  }

  .active-tab.saturn,
  .active-tab.saturn:active {
    background-color: var(--saturn);
  }

  .active-tab.uranus,
  .active-tab.uranus:active {
    background-color: var(--uranus);
  }

  .active-tab.neptune,
  .active-tab.neptune:active {
    background-color: var(--neptune);
  }

  .active-tab.mercury::after,
  .active-tab.venus::after,
  .active-tab.earth::after,
  .active-tab.mars::after,
  .active-tab.jupiter::after,
  .active-tab.saturn::after,
  .active-tab.uranus::after,
  .active-tab.neptune::after {
    display: none;
  }

  .buttons-container button:hover {
    background-color: var(--grey-900);
  }

  /* Info */
  .info-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .info-container {
    padding: 0.75rem 0.5rem;
    border: 1px solid var(--grey-500);
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
}

/* @media screen and (min-width: 1440px) { */
@media screen and (min-width: 1220px) {
  /* Header */
  header {
    padding: 1.375rem 2rem 1.75rem 2rem;
  }

  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links a:hover::before,
  .nav-links a.active-link::before {
    content: "";
    background-color: var(--mercury);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    transform: translateY(-35px);
  }

  /* Body */

  .main-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .image-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .text-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0rem;
    gap: 0rem;
    width: 350px;
    margin-left: auto;
  }

  .text-container h1 {
    margin-bottom: 1rem;
  }

  .buttons-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    width: 350px;
    gap: 1rem;
  }

  .image-container img {
    width: 290px;
  }

  .image-container.geology img:first-of-type {
    width: 290px;
  }

  .image-container.geology img:last-of-type {
    width: 162px;
    top: 280px;
  }

  /* Info */

  .info-section {
    max-width: 1110px;
    margin: 0 auto;
    gap: 1.875rem;
  }

  .info-section h3 {
    font-size: 2.5rem;
  }
}
